thead, tbody{
	display: block;
}
tbody{
	height: 100px;
	overflow:auto;
}
table{
    border-collapse: collapse;
    width: 100%;
}
#addEdit{
	overflow: auto;
}

table, td{
    border: 1px solid black;
}
table, th{
	border: 0px;
}
contenteditable{
	width: 20px;
}