.help-icon{
	width: 15px;
}

.full{
	width: 100%;	
}

.half{
	width: 49.5%;
}

.third{
	width: 33%;	
}

/*
.left{
	float: left;
}
*/
.clearfix:after{
	clear: both;
	display: block;
	font-size: 0px;
	height: 0px;
	line-height: 0;
	width: 100%;
	overflow: hidden;
}

.middle, .form, #corporate, .top-tooltip, .form-controls{
	width: 100%;
}

.top-tooltip{
	border-bottom: 2px solid #eee;
}

.top-tooltip p{
	color: #AFD464;
	padding: 10px;
	margin: 10px 0;
}

h4{
	color: #AFD464;
	margin-top: 20px;
}

table{
	border-collapse: separate;
	border-spacing: 2px;
	width: 100%
}

label{
	cursor: pointer;
}

/*
input.required:after{
	content: " *";
	font-size: 20px;
	margin-right: 4px;
}
*/
.form-controls button{
	float: right;
	margin: 1% 13% 0 0;
}

.required:after { 
	content:" *"; 
	font-size: 20px;
	margin-right: 4px;
}

.requiredfield {
	float: right;
}

#wrap .popover {
	width: 800px;
	max-width: none;
}

#wrap2 .popover {
	width: 300px;
	max-width: none;
}
#wrap3 .popover {
	width: 300px;
	max-width: none;
}
#wrap4 .popover {
	width: 400px;
	max-width: none;
}
#wrap_large .popover {
	width: 800px;
	max-width: none;
}
#business {
	padding: 0px 25px;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}