
.top{
	height:20%;
}
.button{
	display: block;
}

ul{
font: bold 12px/18px sans-serif;
margin-right: 2px;
position: relative;
}

ul li{
font: bold 12px/18px sans-serif;
display: inline-block;
padding: 10px;
background: #fff;
}

ul li ul{
	padding: 0;
	left: 0;
	display: none;
	width: 100px;
	position: absolute;
	box-shadow: none;
}

ul li:hover {
	background: #666;
}

ul li ul li{
	background: #555;
	display: block;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
	text-decoration: none;
	text-align: center;

}

ul li:hover ul{
	display: block;
	opacity: 1;
	visibility: visible;

}
select 
{
	padding: 2px;
}

ul h2 {
	margin: 10px;
}